.root

{
	
	-fx-background-color: purple;
	
}

.label

{

-fx-background-color: black;

-fx-text-fill: green;
-fx-font-size: 20px;

}

-button

{

-fx-background-color: blue;

-fx-text-fill: yellow;

-fx-font-size: 18px;

-fx-padding: 20px;

}